body{
    /*Sayfayı %80 oranına getirme kodu başlangıcı*/
    -moz-transform: scale(0.8, 0.8);
    zoom: 0.8;
    zoom: 80%;
    /*Sayfayı %80 oranına getirme kodu başlangıcı*/
    background:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } 
  .sablon{
    display: flex;margin: 25px; align-items: center;
    height: 660px;
    width: 990px;
    text-align: center;
    border-radius: 5px;
  }
  .kart{
    margin: 1%;
    width: 100%;
    height: 100%;
    background: #ebf8f9;
    border-radius: 12px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  }
  .ustCerceve{
    background: linear-gradient(75deg, #8e44ad, #2980b9);
    height: 115px;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .profil{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    padding: 5px;
    background: white;
    margin-top: 40px;
  }
  .adı{
    font-size: 30px;
    padding-top: 75px;
  }
  .unvan{
    padding: 5px 0;
  }
  .hakkinda{
    margin-top: 10px;
    padding: 0px 35px;
    font-size: 15px;
  }
  .butonyazi{
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(75deg, #8e44ad, #2980b9);
    color: white;
    text-align: center;
    display: table;
    width: 10%;
    height: 55px; display: table-cell;
    vertical-align: middle;
  }
  h1{
    color: #0d0d0d;
  }
  p{
    padding: 20px;
    color: #262626;
    text-align: justify;
  }
  a {
    text-decoration: none;
   }
  .footer {
    margin-top: 10px;
    font-size: 15px;
    padding : 1rem;
    color: white;
    background-color: rgb(22, 97, 107);
    
  }
  header {
    background: linear-gradient(75deg, #2980b9,#8e44ad );
    padding: 1px;
  
    font-size: 35px;
    color: white;
  }
  
  
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  
  nav {
    -webkit-flex: 1;
    -ms-flex: 1; 
    color:white;
    font-size: 20px;
    flex: 1;
    background: #443a3a;
    padding: 20px;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav a{
    color:white;
    font-size: 20px;
  }
  
  article {
    -webkit-flex: 3;  display: flex;
    flex-direction: column;
    align-items: center;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  
  .sosyal-medya {
    position: fixed;
    top: 70%;
    transform: translateY(-50%);
    bottom: 300px;
    right: 1%;
    color: white;
   }
   .sosyal-medya a {
    display: block;
    vertical-align: middle;
    margin-bottom: 10px;
   }
   .sosyal-medya a img {
    width: 50px;
    height: auto;
    margin-right: 10px;
   }
  
   
  
   
   