<div id="warning-message">
  <p> This website may have a problem in viewing pages when it works on monitors lower than 870x870 resolution. <br> <br> If you cannot meet these requirements, we recommend you to view our site through another device. </p>
  <button id="close-warning">Ignore the warning</button>
</div>

<nav class="navbar">
  <a href="index.html" class="brand">
    <img src="https://avatars.githubusercontent.com/u/83471324" width="20px" alt="GitHub Profile" class="github-profile">
    ahmts.github.io
  </a>
  <ul>
    <li><a href="index.html"   >About Me</a></li>
    <li><a href="o-links.html" >Other Links</a></li>
    <li><a href="services.html">Services</a></li>
    <li><a href="contact.html" >Contact</a></li>
  </ul>
  <div class="menu-toggle" id="mobile-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>


