body{
    /*Sayfayi %80 oranina getirme kodu baslangici*/
    zoom: 0.8;
    zoom: 80%;
    /*Sayfayi %80 oranina getirme kodu bitisi*/
    background:#373838;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } 
  .profil{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding: 4px;
    background: rgb(255, 255, 255);
    margin: -90px 0px 0px -90px;
  }
  
  h1{
    color: #0d0d0d;
  }
  p{
    padding: 20px;
    color: #262626;
    text-align: justify;
  }
  a {
    text-decoration: none;
   }
  .footer {
    font-size: 15px;
   /* padding : 1rem; */
    color: white;
    text-align: center;
    background-color: rgb(22, 97, 107);
    
  }
  header {
    background: linear-gradient(75deg, #e77b33,#7e44ad );
    padding: 1px;
  
    font-size: 35px;
    color: white;
  }
  
  
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  #kendimiTanitma{
    color: white;
    background: linear-gradient(75deg, #1c00bb, #f5900c);
    margin: 150px 0px 0px 150px;
    width: 550px; 
    font-size: 21px;
    border-radius: 12px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    height: 450px;
  }
  #kendimiTanitma>p{
    color: white;
  }
  .ders-notlari{
    background-image: url("https://mycodeland.w3spaces.com/resimler/blog/uzay.png");
    background-color: #229cd4;
    padding: 1%;
    width: 430px;
    font-size: 20px;
    margin: 60px 0px 0px 17%;
    border-radius: 12px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
    color: white;
    height: 285px;
  }
  .ders-notlari>h1{color: white;}
  
  nav ,nav>a{
    float: right!important;
    padding: 8px;
    font-size: 20px;
    color: white;
  }
  nav>a:hover{
    background-color: #2980b9;
  }
  
  article {
    -webkit-flex: 3;  display: flex;
    flex-direction: column;
    height: 1100px;
   /* align-items: center; */
    -ms-flex: 3;
    flex: 3;
    /*background-color: #373838;*/
    background-image: url("https://github.com/AhmetEfeAkan/mycodeland.w3spaces.com/blob/159/images/blog/arkaplan.png?raw=true");
    padding: 10px;
  }
  
  
  
  .sosyal-medya {
    position: fixed;
    top: 70%;
    transform: translateY(-50%);
    bottom: 300px;
    right: 1%;
    color: white;
   }
   .sosyal-medya a {
    display: block;

    margin-bottom: 10px;
   }
   .sosyal-medya a img {
    width: 50px;
    height: auto;
    margin-right: 10px;
   }
